body{
    /* https://www.color-hex.com/color/d3d3d3 */
    max-width: 1300px;
    margin: 20px auto;
    padding: 0 3px;
    background-color: rgba(6, 1, 12, 0.877); /*#f6f6f6, EBEBD3, fafafa*/
    font-family: Bungee Outline;
    font-weight: 900;
  
    overflow: hidden;
    animation: blur 0.5s ease-out;
  
}
*{
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#title_container{
    width: 100%;
    height: 225px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: #15011d;/*#467599;*/
    border-bottom: 5px solid #fff;
    box-shadow: 0 0 30px -18px #2c032e;
  
}
#title_inner_container{
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* background-color: #083D77; */
    border-radius: 200px;
}
#title{
    display: inline-block;
    color: #EBEBD3;/*EBEBD3, C5283D*/
    font-size: 55px;
    letter-spacing: 2px;
    user-select: none;
}
  
#join_container{
    width: 100%;
    height: 200px;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    float: left;
    margin-top: 80px;
    margin-right: 30px;
  
}
#join_inner_container{
    width: 70%;
    height: 100%;
}
#join_input_container{
    width: 100%;
    height: 50px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    float: left;
}

#mail_input_container {
    width: 100%;
    height: 50px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    float: left;
}

#join_input{
    width: 60%;
    height: 40px;
  
    color: #E9FFF9;
    font-family: Varela Round;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: Transparent;
    border-bottom: 2px dashed #1D3354;
  
}

#mail_input {
    width: 60%;
    height: 40px;
    padding-bottom: 10px;
    color: #E9FFF9;
    font-family: Varela Round;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color: Transparent;
    border-bottom: 2px dashed #1D3354;
}

#join_input:focus{
    box-shadow: 0 10px 30px -17px #1D3354;
}
#mail_input:focus {
    box-shadow: 0 10px 30px -17px #1D3354;
}
#join_button_container{
    width: 100%;
    height: 50px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    float: left;
}
#join_button{
    width: 60%;
    height: 40px;
  
    font-family: Varela Round;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
  
#chat_container{
    width: 100%;
    height: 452px;
  
    display: flex;
    justify-content: center;
  
    float: left;
    margin-top: 40px;
    /* Fade in container */
    animation: fadeIn 1s linear;
  
}
#chat_inner_container{
    width: 40%;
    height: 100%;
}
#chat_content_container{
    width: 100%;
    height: 90%;
  
    float: left;
    overflow-y: auto;
    font-family: Varela Round;
  
    padding-left: 15px;
    padding-right: 15px;
}
#chat_input_container{
    width: 100%;
    height: 10%;
  
    float: left;
    border-bottom: 2px solid #1D3354;
    background-color: Transparent;
  
    padding-left: 15px;
    padding-right: 15px;
    font-family: Varela Round;
    margin-top: 10px;
}
#chat_input{
    width: 95%;
    height: 100%;
    float: left;
    background-color: Transparent;
    color: #b6cbee93;
    font-size: 15px;
}
#chat_input_send{
    width: 5%;
    height: 100%;
    float: left;
    font-size: 18px;
    background-color: Transparent;
    text-align: right;
    color: #1D3354;
}
#chat_input_send.enabled{
    color: #2c0530;
    background-color: Transparent;
    cursor: pointer;
  
}
#chat_logout_container{
    width: 100%;
    display: inline-block;
  
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    float: left;
    margin-top: 20px;
}
#chat_logout{
    color: #D64045;
    cursor: pointer;
}

#go_post {
    color: #c70fd15e;
    font-family: Nunito;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    animation: fadeIn 1s linear;
}
#go_post:hover {
    border-bottom: 2px solid #15305a79;
}

#chat_logout:hover{
    text-decoration: underline;
}

.message_container{
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
  
}
.message_inner_container{
    width: 100%;
    display: inline-block;
  
    color: #EBEBD3;
}
.message_user_container{
    width: 100%;
    display: inline-block;
    
}
.message_user{
    font-weight: bold;
    font-size: 14px;
    padding: 2.5px;
    border-left-width: 20px;
    border-left-color: #D64045;
}
.message_content_container{
    width: 100%;
    display: inline-block;
  
    white-space: pre-wrap;
    word-wrap: break-word;
}
.message_content{
    font-weight: normal;
    font-size: 14px;
    margin-top: 5px;
}
  
.enabled{
    transition: background-color 0.5s;
    color: rgb(8, 6, 6);
    background-color: #47114ec2; /*#5B7553;*/
    cursor: pointer;
}

.enabled:hover{
    border: 2px solid #47114ec2;
    color: rgb(8, 6, 6);
    background-color: transparent;
}

.enabled b {
    color: rgb(141, 138, 138);
}

#title_container.chat_title_container{
    transition: 0.8s;
    transition-timing-function: ease-in-out;
    height: 100px;
}
#title.chat_title{
    transition: 0.8s;
    font-size: 47px;
}
.loader_container{
    width: 100%;
    height: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  
    border-top: 6px solid #D64045;
    border-bottom: 6px solid #1D3354;
    border-left: 6px solid #E9FFF9;
    border-right: 6px solid #E9FFF9;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  @keyframes fadeIn {
     0% {opacity: 0;}
     100% {opacity: 1;}
}
@keyframes blur {
    0% {filter: blur(5px);}
    100% {}
}
::selection {
    background-color: #D64045;
    color: #fff;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 2.5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1D3354;
    border-radius: 5px;
}

.create-post form {
    max-width: 400px;
    margin: 0 auto;
    color: #E9FFF9;
}
.create-post input,
.create-post textarea {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border: 2.5px solid #E9FFF9;
    color: rgb(218, 218, 192);
    border-radius: 3px;
    background-color: transparent;
}
.create-post label {
    display: block;
    margin-top: 24px;
}
textarea {
    height: 120px;
    resize: none;
}
.create-post button {
    margin-top: 20px;
    background: crimson;
    color: white;
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

/*@media (max-width: 800px) {
    @media (max-height: 1300px) {
        body {
            width: 100%;
            height: 1000px;
        }
        #title_container{
            width: 100%;
            height: 500px;
        }
        #chat_container {
            width: 100%;
            height: 100%;
        }
        #chat_inner_container {
            width: 90%;
            height: 100%;
        }
        #join_container{
            width: 100%;
            height: 100%;
        }
        #mail_input_container {
            width: 100%;
            height: 75%;
        }
        #join_input_container {
            width: 100%;
            height: 75%;
        }
        #mail_input {
            width: 90%;
            margin-top: 135px;
        }
        #join_input {
            width: 90%;
            margin-top: 135px;
    
        }
        
    }
}*/